spring.application.name=ws_projektarbete_1

# Databas konfiguration för PostgreSQL
spring.datasource.url=jdbc:postgresql://localhost:5432/ws_projektarbete_1
spring.datasource.username=postgres
spring.datasource.password=123321
spring.datasource.driver-class-name=org.postgresql.Driver

# API-konfiguration
weather.api.key=d87d0ec5fb6fe5388a811761b8e9fa13
weather.api.url=https://api.openweathermap.org/data/2.5

#Https
server.port=8443
server.ssl.key-alias=mittAlias
username:admin
password:admin123



